{%- doc -%}
  Renders a header menu block.

  @param {string} [variant] - What version of the menu to render. Defaults to header menu.
  @param {string} [transparent] - Show a transparent menu
{%- enddoc -%}

{% assign block_settings = block.settings %}
{% render 'vite-tag', entry: '_header-menu.css' %}

{% case variant %}
  {% when 'mobile' %}
    <div
      class="header__drawer"
      ref="headerDrawerContainer"
      data-hydration-key="header-drawer-mobile"
      {{ block.shopify_attributes }}
    >
      {% render 'header-drawer',
        linklist: block_settings.menu,
        data_header_drawer_type: 'mobile-drawer',
        block: block,
        section: section
      %}
    </div>

  {% when 'navigation_bar' %}
    {% if block_settings.navigation_bar == true %}
      <div
        class="menu-list menu-list--mobile{% if transparent == blank %} color-{{ block_settings.color_scheme_navigation_bar }}{% endif %}"
        style="--menu-horizontal-gap: 15px; --mobile-nav-margin: auto;"
        data-hydration-key="header-menu-mobile-navigation-bar"
      >
        <div class="menu-list__scroll-container">
          <ul
            class="menu-list__list list-unstyled"
            role="list"
          >
            {% for link in block_settings.menu.links %}
              <li>
                <a
                  href="{{ link.url }}"
                  id="MenuItem-{{ link.handle }}"
                  class="menu-list__item"
                  {% if link.current %}
                    aria-current="page"
                  {% endif %}
                >
                  {{- link.title -}}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endif %}
  {% else %}
    {% liquid
      assign block_settings = block.settings
      assign menu_content_type = block_settings.menu_style | default: 'text'
      assign image_border_radius = block_settings.image_border_radius
      assign color_scheme_classes = ''
      assign color_scheme_setting_id = 'color_scheme_' | append: section.settings.menu_row
      assign current_color_scheme = block_settings.color_scheme
      assign parent_color_scheme = section.settings[color_scheme_setting_id]

      if parent_color_scheme.id != current_color_scheme.id
        assign color_scheme_classes = ' color-' | append: current_color_scheme
      endif

      # Check if header and menu colors match. This is used to apply different padding styles in css
      if parent_color_scheme.settings.background.rgb == current_color_scheme.settings.background.rgb
        assign color_scheme_classes = color_scheme_classes | append: ' color-scheme-matches-parent'
      endif

      if block_settings.menu_style == 'featured_collections'
        assign ratio = block_settings.featured_collections_aspect_ratio
      elsif block_settings.menu_style == 'featured_products'
        assign ratio = block_settings.featured_products_aspect_ratio
      endif
    %}

    {% capture children %}
      {% for link in block_settings.menu.links %}
        <li role="presentation"
          class="menu-list__list-item"
          on:focus="/activate"
          on:blur="/deactivate"
          on:pointerenter="/activate"
          on:pointerleave="/deactivate">
          <a href="{{ link.url }}"
            data-skip-node-update="true"
            class="menu-list__link{%- if link.active %} menu-list__link--active{%- endif -%}"
            {%- if link.links != blank -%}
              aria-controls="submenu-{{ forloop.index }}"
              aria-haspopup="true"
              aria-expanded="false"
            {%- endif -%}
            {%- if link.current %}
              aria-current="page"
            {%- endif %}
            ref="menuitem">
            <span class="menu-list__link-title">{{- link.title -}}</span>
          </a>
          {%- if link.links != blank -%}
            <div class="menu-list__submenu{{ color_scheme_classes }}" ref="submenu[]">
              <div id="submenu-{{ forloop.index }}"
                class="menu-list__submenu-inner"
                style="{%- render 'submenu-font-styles', settings: block_settings -%}">
                {% assign list_id = 'MegaMenuList-' | append: forloop.index %}
                <div class="mega-menu section section--full-width-margin section--{{ section.settings.section_width }}">
                  <div class="mega-menu__grid" data-menu-grid-id="{{ list_id }}">
                    {% render 'mega-menu-list',
                      parent_link: link,
                      id: list_id,
                      section: section,
                      grid_columns_count: 6,
                      grid_columns_count_tablet: 4,
                      grid_columns_count_collection_images: 8,
                      menu_content_type: menu_content_type,
                      content_aspect_ratio: ratio,
                      image_border_radius: image_border_radius,
                      marvin-set: block_settings.marvin-set
                    %}
                  </div>
                </div>
              </div>
            </div>
          {%- endif -%}
        </li>
      {% endfor %}
      <li class="menu-list__list-item"
        role="presentation"
        slot="more"
        on:focus="/activate"
        on:blur="/deactivate"
        on:pointerenter="/activate"
        on:pointerleave="/deactivate">
        <button role="listitem" class="menu-list__link button-unstyled">
          <span class="menu-list__link-title">{{ 'actions.more' | t }}</span>
        </button>
      </li>
    {% endcapture %}

    <header-menu ref="headerMenu" class="header-menu" {{ block.shopify_attributes }} data-hydration-key="header-menu">
      <div class="header-menu__inner">
        <nav class="menu-list"
          aria-label="{{ 'accessibility.header_navigation_label' | t }}"
          style="{% render 'menu-font-styles', settings: block_settings, menu_type: 'mega_menu' %}">
          {% assign class = 'overflow-menu' | append: color_scheme_classes %}
          {% render 'overflow-list',
            class: class,
            ref: 'overflowMenu',
            children: children,
            minimum-items: 2,
            data-testid: 'header-menu-overflow-list',
            attributes: 'data-skip-node-update'%}
        </nav>
      </div>

      <script src="{{ 'header-menu.js' | asset_url }}" type="module" fetchpriority="low"></script>
    </header-menu>
{% endcase %}

{% style %}
  .header__underlay {
    --color-submenu: rgb({{ block_settings.color_scheme.settings.background.rgba }});
  }
{% endstyle %}

{% schema %}
{
  "name": "t:names.menu",
  "tag": null,
  "settings": [
    {
      "type": "checkbox",
      "id": "marvin-set",
      "label": "使用定制菜单",
      "default": false
    },
    {
      "type": "range",
      "id": "menu_products_limit_column",
      "min": 3,
      "max": 10,
      "step": 1,
      "default": 4,
      "label": "二级菜单产品最大展示数量",
      "visible_if": "{{ block.settings.marvin-set == true }}"
    },
    {
      "type": "range",
      "id": "menu_products_limit_right",
      "min": 3,
      "max": 10,
      "step": 1,
      "default": 4,
      "label": "全系列右侧分区最大展示产品数量",
      "visible_if": "{{ block.settings.marvin-set == true }}"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:settings.menu",
      "default": "main-menu"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "primary"
    },
    {
      "type": "header",
      "content": "t:content.typography"
    },
    {
      "type": "select",
      "id": "type_font_primary_size",
      "label": "t:settings.top_level_size",
      "options": [
        {
          "value": "0.625rem",
          "label": "10px"
        },
        {
          "value": "0.75rem",
          "label": "12px"
        },
        {
          "value": "0.875rem",
          "label": "14px"
        },
        {
          "value": "1rem",
          "label": "16px"
        },
        {
          "value": "1.125rem",
          "label": "18px"
        }
      ],
      "default": "1rem"
    },
    {
      "type": "select",
      "id": "menu_font_style",
      "label": "t:settings.submenu_size",
      "options": [
        {
          "value": "regular",
          "label": "t:options.small"
        },
        {
          "value": "inverse",
          "label": "t:options.medium"
        },
        {
          "value": "inverse_large",
          "label": "t:options.large"
        }
      ],
      "default": "inverse"
    },
    {
      "type": "select",
      "id": "type_font_primary_link",
      "label": "t:settings.font",
      "options": [
        {
          "value": "body",
          "label": "t:options.body"
        },
        {
          "value": "subheading",
          "label": "t:options.subheading"
        },
        {
          "value": "heading",
          "label": "t:options.heading"
        },
        {
          "value": "accent",
          "label": "t:options.accent"
        }
      ],
      "default": "heading"
    },
    {
      "type": "select",
      "id": "type_case_primary_link",
      "label": "t:settings.text_case",
      "options": [
        {
          "value": "none",
          "label": "t:options.default"
        },
        {
          "value": "uppercase",
          "label": "t:options.uppercase"
        }
      ],
      "default": "none"
    },
    {
      "type": "header",
      "content": "t:content.submenu_feature"
    },
    {
      "type": "select",
      "id": "menu_style",
      "label": "t:settings.media_type",
      "info": "t:info.media_type_info",
      "options": [
        {
          "value": "text",
          "label": "t:options.none"
        },
        {
          "value": "collection_images",
          "label": "t:options.collection_images"
        },
        {
          "value": "featured_products",
          "label": "t:options.featured_products"
        },
        {
          "value": "featured_collections",
          "label": "t:options.featured_collections"
        }
      ],
      "default": "collection_images"
    },
    {
      "type": "select",
      "id": "featured_products_aspect_ratio",
      "label": "t:settings.image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:options.auto"
        },
        {
          "value": "4 / 5",
          "label": "t:options.portrait"
        },
        {
          "value": "1 / 1",
          "label": "t:options.square"
        }
      ],
      "default": "4 / 5",
      "visible_if": "{{ block.settings.menu_style == 'featured_products' }}"
    },
    {
      "type": "select",
      "id": "featured_collections_aspect_ratio",
      "label": "t:settings.image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:options.auto"
        },
        {
          "value": "16 / 9",
          "label": "t:options.landscape"
        },
        {
          "value": "1 / 1",
          "label": "t:options.square"
        }
      ],
      "default": "16 / 9",
      "visible_if": "{{ block.settings.menu_style == 'featured_collections' }}"
    },
    {
      "type": "range",
      "id": "image_border_radius",
      "label": "t:settings.image_border_radius",
      "min": 0,
      "max": 32,
      "step": 1,
      "unit": "px",
      "default": 0,
      "visible_if": "{{ block.settings.menu_style != 'text' }}"
    },
    {
      "type": "header",
      "content": "t:content.mobile_layout"
    },
    {
      "type": "checkbox",
      "id": "navigation_bar",
      "label": "t:settings.navigation_bar"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme_navigation_bar",
      "label": "t:settings.navigation_bar_color_scheme",
      "default": "primary",
      "visible_if": "{{ block.settings.navigation_bar }}"
    },
    {
      "type": "checkbox",
      "id": "drawer_accordion",
      "label": "t:settings.accordion",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "drawer_accordion_expand_first",
      "label": "t:settings.expand_first_group",
      "default": false,
      "visible_if": "{{ block.settings.drawer_accordion == true }}"
    },
    {
      "type": "checkbox",
      "id": "drawer_dividers",
      "label": "t:settings.dividers",
      "default": false
    }
  ]
}
{% endschema %}
