{% schema %}
{
  "name": "主推文本 & 按钮（固定位置）",
  "tag": null,
  "blocks": [
    {
      "type": "@theme"
    },
    {
      "type": "@app"
    },
    {
      "type": "_divider"
    }
  ],
  "settings": [
    {
      "type": "range",
      "id": "gap",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "default": 12,
      "label": "行间距"
    },
    {
      "type": "header",
      "content": "主推文本"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "小标题"
    },
    {
      "type": "text",
      "id": "title",
      "label": "大标题"
    },
    {
      "type": "richtext",
      "id": "context",
      "label": "文本"
    }
  ],
  "presets": [
    {
      "name": "主推文本 & 按钮（固定位置）",
      "category": "t:categories.layout",
      "blocks": [
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}

{% render 'vite-tag', entry: 'marvin-banner-group.css' %}
<div class="marvin-banner-group gap-[{{ block.settings.gap }}px]">
  <h3 class="marvin-group-subtitle">{{ block.settings.subtitle }}</h3>
  <h1 class="marvin-group-title">{{ block.settings.title }}</h1>
  <p class="marvin-group-context">
    {{ block.settings.context }}
  </p>
  {%- capture children %}
    {% content_for 'blocks' %}
  {% endcapture %}
  {{ children }}
</div>
