
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-623787935036080670.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-623787935036080670.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-623787935036080670.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-623787935036080670.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-623787935036080670.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-623787935036080670.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-623787935036080670.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-623787935036080670.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-623787935036080670.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-623787935036080670.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-623787935036080670.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-623787935036080670.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-623787935036080670.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-623787935036080670.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-623787935036080670.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-623787935036080670.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-623787935036080670.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-623787935036080670.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-623787935036080670.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-623787935036080670.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-623787935036080670.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-623787935036080670.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-623787935036080670.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-623787935036080670.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-623787935036080670.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-623787935036080670.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-623787935036080670.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-623787935036080670.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-623787935036080670.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-623787935036080670.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-623787935036080670.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-623787935036080670.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-623787935036080670.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-623787935036080670.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-623787935036080670.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-623787935036080670.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-623787935036080670.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-623787935036080670.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-623787935036080670.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-623787935036080670.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-623787935036080670.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-623787935036080670.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-623787935036080670.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-623787935036080670.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-623787935036080670.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-623787935036080670.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-623787935036080670.gps.gpsil [style*="--maxw:"]{max-width:var(--maxw)}.gps-623787935036080670.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-623787935036080670.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-623787935036080670.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-623787935036080670.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-623787935036080670.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-623787935036080670.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-623787935036080670.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-623787935036080670.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-623787935036080670.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-623787935036080670.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-623787935036080670.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-623787935036080670.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-623787935036080670.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-623787935036080670.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-623787935036080670.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-623787935036080670.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-623787935036080670.gps.gpsil [style*="--bottom-tablet:"]{bottom:var(--bottom-tablet)}.gps-623787935036080670.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-623787935036080670.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-623787935036080670.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-623787935036080670.gps.gpsil [style*="--left-tablet:"]{left:var(--left-tablet)}.gps-623787935036080670.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-623787935036080670.gps.gpsil [style*="--maxw-tablet:"]{max-width:var(--maxw-tablet)}.gps-623787935036080670.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-623787935036080670.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-623787935036080670.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-623787935036080670.gps.gpsil [style*="--right-tablet:"]{right:var(--right-tablet)}.gps-623787935036080670.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-623787935036080670.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-623787935036080670.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-623787935036080670.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-623787935036080670.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-623787935036080670.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-623787935036080670.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-623787935036080670.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-623787935036080670.gps.gpsil [style*="--left-mobile:"]{left:var(--left-mobile)}.gps-623787935036080670.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-623787935036080670.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-623787935036080670.gps.gpsil [style*="--maxw-mobile:"]{max-width:var(--maxw-mobile)}.gps-623787935036080670.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-623787935036080670.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-623787935036080670.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-623787935036080670.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-623787935036080670.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-623787935036080670.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-623787935036080670.gps.gpsil [style*="--right-mobile:"]{right:var(--right-mobile)}.gps-623787935036080670.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-623787935036080670.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-623787935036080670.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-623787935036080670 .-gp-translate-x-1\/2,.gps-623787935036080670 .-gp-translate-y-1\/2,.gps-623787935036080670 .gp-rotate-0,.gps-623787935036080670 .gp-rotate-180,.gps-623787935036080670 .mobile\:gp-rotate-0,.gps-623787935036080670 .mobile\:gp-rotate-180,.gps-623787935036080670 .tablet\:gp-rotate-0,.gps-623787935036080670 .tablet\:gp-rotate-180{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-623787935036080670 .gp-visible{visibility:visible}.gps-623787935036080670 .gp-invisible{visibility:hidden}.gps-623787935036080670 .gp-absolute{position:absolute}.gps-623787935036080670 .gp-relative{position:relative}.gps-623787935036080670 .gp-left-0{left:0}.gps-623787935036080670 .gp-left-1\/2{left:50%}.gps-623787935036080670 .gp-right-0{right:0}.gps-623787935036080670 .gp-top-1\/2{top:50%}.gps-623787935036080670 .gp-z-1{z-index:1}.gps-623787935036080670 .gp-z-2{z-index:2}.gps-623787935036080670 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-623787935036080670 .gp-my-0{margin-bottom:0;margin-top:0}.gps-623787935036080670 .gp-mb-0{margin-bottom:0}.gps-623787935036080670 .gp-block{display:block}.gps-623787935036080670 .gp-flex{display:flex}.gps-623787935036080670 .gp-inline-flex{display:inline-flex}.gps-623787935036080670 .gp-grid{display:grid}.gps-623787935036080670 .\!gp-hidden{display:none!important}.gps-623787935036080670 .gp-hidden{display:none}.gps-623787935036080670 .gp-h-full{height:100%}.gps-623787935036080670 .\!gp-min-h-full{min-height:100%!important}.gps-623787935036080670 .gp-w-\[68px\]{width:68px}.gps-623787935036080670 .gp-w-full{width:100%}.gps-623787935036080670 .\!gp-max-w-none{max-width:none!important}.gps-623787935036080670 .gp-max-w-full{max-width:100%}.gps-623787935036080670 .gp-flex-1{flex:1 1 0%}.gps-623787935036080670 .gp-shrink-0{flex-shrink:0}.gps-623787935036080670 .-gp-translate-x-1\/2{--tw-translate-x:-50%}.gps-623787935036080670 .-gp-translate-x-1\/2,.gps-623787935036080670 .-gp-translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-623787935036080670 .-gp-translate-y-1\/2{--tw-translate-y:-50%}.gps-623787935036080670 .gp-rotate-0{--tw-rotate:0deg}.gps-623787935036080670 .gp-rotate-0,.gps-623787935036080670 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-623787935036080670 .gp-rotate-180{--tw-rotate:180deg}.gps-623787935036080670 .gp-cursor-pointer{cursor:pointer}.gps-623787935036080670 .gp-select-none{-webkit-user-select:none;-moz-user-select:none;user-select:none}.gps-623787935036080670 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-623787935036080670 .\!gp-flex-row{flex-direction:row!important}.gps-623787935036080670 .gp-flex-row{flex-direction:row}.gps-623787935036080670 .gp-flex-row-reverse{flex-direction:row-reverse}.gps-623787935036080670 .gp-flex-col{flex-direction:column}.gps-623787935036080670 .\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-623787935036080670 .gp-items-center{align-items:center}.gps-623787935036080670 .gp-justify-center{justify-content:center}.gps-623787935036080670 .gp-justify-between{justify-content:space-between}.gps-623787935036080670 .gp-gap-2{gap:8px}.gps-623787935036080670 .gp-overflow-hidden{overflow:hidden}.gps-623787935036080670 .gp-break-words{overflow-wrap:break-word}.gps-623787935036080670 .gp-bg-black{--tw-bg-opacity:1;background-color:rgb(0 0 0/var(--tw-bg-opacity,1))}.gps-623787935036080670 .gp-bg-cover{background-size:cover}.gps-623787935036080670 .gp-bg-center{background-position:50%}.gps-623787935036080670 .gp-text-center{text-align:center}.gps-623787935036080670 .gp-text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity,1))}.gps-623787935036080670 .gp-no-underline{text-decoration-line:none}.gps-623787935036080670 .gp-opacity-100{opacity:1}.gps-623787935036080670 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-623787935036080670 .gp-duration-200{transition-duration:.2s}.gps-623787935036080670 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-623787935036080670 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-623787935036080670 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-623787935036080670 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-623787935036080670 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-623787935036080670 .tablet\:gp-absolute{position:absolute}.gps-623787935036080670 .tablet\:gp-left-0{left:0}.gps-623787935036080670 .tablet\:gp-right-0{right:0}.gps-623787935036080670 .tablet\:gp-block{display:block}.gps-623787935036080670 .tablet\:\!gp-hidden{display:none!important}.gps-623787935036080670 .tablet\:gp-hidden{display:none}.gps-623787935036080670 .tablet\:\!gp-min-h-full{min-height:100%!important}.gps-623787935036080670 .tablet\:gp-rotate-0{--tw-rotate:0deg}.gps-623787935036080670 .tablet\:gp-rotate-0,.gps-623787935036080670 .tablet\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-623787935036080670 .tablet\:gp-rotate-180{--tw-rotate:180deg}.gps-623787935036080670 .tablet\:\!gp-flex-row{flex-direction:row!important}.gps-623787935036080670 .tablet\:gp-flex-row{flex-direction:row}.gps-623787935036080670 .tablet\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-623787935036080670 .tablet\:gp-px-0{padding-left:0;padding-right:0}}@media (max-width:767px){.gps-623787935036080670 .mobile\:gp-absolute{position:absolute}.gps-623787935036080670 .mobile\:gp-left-0{left:0}.gps-623787935036080670 .mobile\:gp-right-0{right:0}.gps-623787935036080670 .mobile\:gp-block{display:block}.gps-623787935036080670 .mobile\:\!gp-hidden{display:none!important}.gps-623787935036080670 .mobile\:gp-hidden{display:none}.gps-623787935036080670 .mobile\:\!gp-min-h-full{min-height:100%!important}.gps-623787935036080670 .mobile\:gp-rotate-0{--tw-rotate:0deg}.gps-623787935036080670 .mobile\:gp-rotate-0,.gps-623787935036080670 .mobile\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-623787935036080670 .mobile\:gp-rotate-180{--tw-rotate:180deg}.gps-623787935036080670 .mobile\:\!gp-flex-row{flex-direction:row!important}.gps-623787935036080670 .mobile\:gp-flex-row{flex-direction:row}.gps-623787935036080670 .mobile\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-623787935036080670 .mobile\:gp-px-0{padding-left:0;padding-right:0}}.gps-623787935036080670 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-623787935036080670 .\[\&\>svg\]\:gp-h-full>svg{height:100%}.gps-623787935036080670 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}.gps-623787935036080670 .\[\&\>svg\]\:gp-w-full>svg{width:100%}@media (max-width:1024px){.gps-623787935036080670 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-623787935036080670 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-623787935036080670 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-623787935036080670 .\[\&_\>_article\]\:gp-aspect-\[var\(--aspect\)\]>article{aspect-ratio:var(--aspect)}@media (max-width:1024px){.gps-623787935036080670 .tablet\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-tablet\2c _var\(--aspect\)\)\]>article{aspect-ratio:var(--aspect-tablet,var(--aspect))}}@media (max-width:767px){.gps-623787935036080670 .mobile\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-mobile\2c _var\(--aspect-tablet\2c _var\(--aspect\)\)\)\]>article{aspect-ratio:var(--aspect-mobile,var(--aspect-tablet,var(--aspect)))}}.gps-623787935036080670 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g47Z5SHSnE"}' data-id="g47Z5SHSnE" id="g47Z5SHSnE" data-same-height-subgrid-container class="g47Z5SHSnE gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:80px;--pl:0px;--pb:32px;--pr:0px;--pt-mobile:70px;--pl-mobile:0px;--pb-mobile:28px;--pr-mobile:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gWrg0e6AVX gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gX4_271vSE"}' data-id="gX4_271vSE" id="gX4_271vSE" data-same-height-subgrid-container class="gX4_271vSE gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--pr:0px;--mb-mobile:14px;--pr-mobile:auto;--cg:30px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--o-mobile:1"
      class="gFzLjE4uGM gp-relative gp-flex gp-flex-col"
    >
      
    <gp-carousel gp-data='{"id":"gLX4Js-ytj","setting":{"animationMode":"ease-in","arrowBackgroundColor":"transparent","arrowBorder":{"desktop":{"border":"none","borderType":"none","borderWidth":"1px","isCustom":false,"width":"1px 1px 1px 1px"}},"arrowButtonSize":{"desktop":{"height":"32px","padding":{"linked":true},"shapeLinked":true,"shapeValue":"1/1","width":"32px"}},"arrowCustom":"<svg width=\"20\" height=\"20\" viewBox=\"0 0 20 20\" fill=\"currentColor\" xmlns=\"http://www.w3.org/2000/svg\">\n              <path fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M7.62204 5.13313C7.78476 4.95562 8.04858 4.95562 8.21129 5.13313L12.378 9.67859C12.5407 9.8561 12.5407 10.1439 12.378 10.3214L8.21129 14.8669C8.04858 15.0444 7.78476 15.0444 7.62204 14.8669C7.45932 14.6894 7.45932 14.4016 7.62204 14.224L11.4941 10L7.62204 5.77596C7.45932 5.59845 7.45932 5.31064 7.62204 5.13313Z\"/>\n              </svg>\n              ","arrowCustomColor":"#000000","arrowGapToEachSide":"16","arrowIconSize":{"desktop":24},"autoplay":true,"autoplayTimeout":2,"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"childItem":["Slide 3","Slide 4","Slide 5","Slide 6"],"controlOverContent":{"desktop":true},"dot":{"desktop":false,"mobile":false,"tablet":false},"dotActiveColor":{"desktop":"line-3"},"dotColor":{"desktop":"bg-1"},"dotGapToCarousel":{"desktop":"16"},"dotSize":{"desktop":12},"dotStyle":{"desktop":"inside","mobile":"inside","tablet":"inside"},"enableDrag":{"desktop":true},"itemNumber":{"desktop":2},"label":true,"loop":{"desktop":true},"navigationEnable":{"desktop":false,"mobile":false,"tablet":false},"navigationStyle":{"desktop":"inside","mobile":"inside","tablet":"inside"},"pauseOnHover":true,"roundedArrow":{"desktop":{"radiusType":"small"}},"runPreview":false,"showWhenHover":false,"sneakPeak":{"desktop":false,"mobile":true},"sneakPeakOffsetCenter":{"desktop":50},"sneakPeakOffsetForward":{"desktop":50},"sneakPeakType":{"desktop":"forward"},"vertical":{"desktop":false}},"styles":{"align":{"desktop":"center"},"borderContent":{"border":"none","borderType":"none","borderWidth":"1px","color":"#121212","isCustom":true,"position":"all","width":"1px 1px 1px 1px"},"carouselShadow":{"angle":90,"blur":"12px","color":"#121212","distance":"4px","spread":"0px","type":"shadow-1"},"fullWidth":{"desktop":false,"mobile":false,"tablet":false},"hasActiveShadow":false,"playSpeed":500,"roundedContent":{"radiusType":"none"},"sizeSetting":{"desktop":{"height":"auto","shapeLinked":false,"width":"default"}},"spacing":{"desktop":"14"}}}' data-id="gLX4Js-ytj" id="gp-root-carousel-gLX4Js-ytj" style="--jc:center" class="gp-group/carousel gp-w-full gp-flex">
      <div
        
        class="gLX4Js-ytj gp-relative gp-my-0 tablet:gp-px-0 gp-max-w-full mobile:gp-px-0 gp-carousel-wrapper mobile:gp-block tablet:gp-block gp-block"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--mb-mobile:14px;--pl-mobile:15px;--h:auto;--h-tablet:auto;--h-mobile:auto;--w:var(--g-ct-w);--w-tablet:var(--g-ct-w);--w-mobile:var(--g-ct-w)"
      >
        <div class="gp-relative gp-flex gp-items-center gp-justify-between mobile:!gp-flex-row tablet:!gp-flex-row !gp-flex-row" style="--h:100%;--h-tablet:100%;--h-mobile:100%;gap:16px">
          
    <button
      type="button"
      aria-label='Carousel Back Arrow'
      class="gp-z-1 gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0 gp-carousel-arrow-gLX4Js-ytj gLX4Js-ytj gp-carousel-action-back gem-slider-previous gp-cursor-pointer gp-text-gray-500 !gp-hidden tablet:!gp-hidden mobile:!gp-hidden"
      style="--bg:transparent;--d:none;--d-tablet:none;--d-mobile:none;--left:3px;--right:initial;--top:initial;--left-tablet:3px;--right-tablet:initial;--top-tablet:initial;--left-mobile:3px;--right-mobile:initial;--top-mobile:initial;--w:32px;--h:32px"
    >
      <style type="text/css">
      .gp-carousel-arrow-gLX4Js-ytj {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gLX4Js-ytj::before {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        pointer-events: none;
        z-index: 10;
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
      @media only screen and (max-width: 1024px) and (min-width: 768px) {
        .gp-carousel-arrow-gLX4Js-ytj {
          border-radius: var(--g-radius-small);
        }
        .gp-carousel-arrow-gLX4Js-ytj::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          border-radius: var(--g-radius-small);
        }
      }
      @media only screen and (max-width: 768px) {
        .gp-carousel-arrow-gLX4Js-ytj {
          border-radius: var(--g-radius-small);
        }
        .gp-carousel-arrow-gLX4Js-ytj::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          border-radius: var(--g-radius-small);
        }
      }
    </style>
      
    <div
      class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-180 tablet:gp-rotate-180 mobile:gp-rotate-180"
      style="--c:#000000;--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px"
    >
        <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M7.62204 5.13313C7.78476 4.95562 8.04858 4.95562 8.21129 5.13313L12.378 9.67859C12.5407 9.8561 12.5407 10.1439 12.378 10.3214L8.21129 14.8669C8.04858 15.0444 7.78476 15.0444 7.62204 14.8669C7.45932 14.6894 7.45932 14.4016 7.62204 14.224L11.4941 10L7.62204 5.77596C7.45932 5.59845 7.45932 5.31064 7.62204 5.13313Z"/>
              </svg>
              
    </div>
  
    </button>
  
          <div id="gp-carousel-gLX4Js-ytj" class="gem-slider gp-h-full gp-overflow-hidden gp-select-none gp-carousel-slider-gLX4Js-ytj mobile:!gp-flex-nowrap tablet:!gp-flex-nowrap !gp-flex-nowrap mobile:!gp-min-h-full tablet:!gp-min-h-full !gp-min-h-full" style="--cg-mobile:14px;--cg-tablet:14px;--cg:14px">
            
    
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-gLX4Js-ytj gp-child-item-gLX4Js-ytj goCv8YIBfE"
      style="--minw:calc(100% / 2 - 7px);--minw-tablet:calc(100% / 2 - 7px);--minw-mobile:calc(100% / 1.5 - 4.666666666666667px);--maxw:calc(100% / 2 - 7px);--maxw-tablet:calc(100% / 2 - 7px);--maxw-mobile:calc(100% / 1.5 - 4.666666666666667px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--b:solid;--bc:#121212;--bw:1px 1px 1px 1px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bs:none"
      data-index="0"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
    <div
       data-id="g11jQfyC0Z" class="g11jQfyC0Z !gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--mb-mobile:14px;--aspect:auto">
      
    <gp-lite-youtube-embed gp-data='{"lazy":true,"hasThumbnail":true,"style":{"--aspect":"auto"},"title":"Video","iframeSrc":"https://www.youtube-nocookie.com/embed/cyzh48XRS4M?autoplay=true&state=1&controls=1","translatedVideoUrl":"{{ section.settings.gg11jQfyC0Z_youtubeUrl }}","autoplay":false}'>
      <article
        aria-hidden
        class="gp-relative gp-bg-cover gp-bg-center gp-lite-youtube-embed-article gp_lazybg"
        data-title="Video"
        style="background-image:url({{ section.settings.gg11jQfyC0Z_poster_src }});--aspect:auto"
      >
        
    <img
      alt="Alt image" width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="{{ section.settings.gg11jQfyC0Z_poster_src }}" data-src="{{ section.settings.gg11jQfyC0Z_poster_src }}" data-srcset="{{ section.settings.gg11jQfyC0Z_poster_src }}"
      id="gp-video-g11jQfyC0Z"
      
      class="gp-invisible gp-w-full gp-h-full gp_lazyforbg gp_lazyload"
    />
        <button type="button" aria-label="Play" class="gp-absolute gp-left-1/2 gp-top-1/2 gp-w-[68px] -gp-translate-x-1/2 -gp-translate-y-1/2 gp-lite-youtube-embed-button gp-visible gp-opacity-100">
          <svg height="100%" version="1.1" viewBox="0 0 68 48" width="100%">
            <path
              d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
              fill="#f00"
            ></path>
            <path d="M 45,24 27,14 27,34" fill="#fff"></path>
          </svg>
        </button>
        
      </article>
    </gp-lite-youtube-embed>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-lite-youtube-embed-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
      </div>
    </div>
  
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-gLX4Js-ytj gp-child-item-gLX4Js-ytj g1Nb5sJ3zO"
      style="--minw:calc(100% / 2 - 7px);--minw-tablet:calc(100% / 2 - 7px);--minw-mobile:calc(100% / 1.5 - 4.666666666666667px);--maxw:calc(100% / 2 - 7px);--maxw-tablet:calc(100% / 2 - 7px);--maxw-mobile:calc(100% / 1.5 - 4.666666666666667px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--b:solid;--bc:#121212;--bw:1px 1px 1px 1px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bs:none"
      data-index="1"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
    <div
       data-id="gHkyBE06Cj" class="gHkyBE06Cj !gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--mb-mobile:14px;--aspect:auto">
      
    <gp-lite-youtube-embed gp-data='{"lazy":true,"hasThumbnail":true,"style":{"--aspect":"auto"},"title":"Video","iframeSrc":"https://www.youtube-nocookie.com/embed/cyzh48XRS4M?autoplay=true&state=1&controls=1","translatedVideoUrl":"{{ section.settings.ggHkyBE06Cj_youtubeUrl }}","autoplay":false}'>
      <article
        aria-hidden
        class="gp-relative gp-bg-cover gp-bg-center gp-lite-youtube-embed-article gp_lazybg"
        data-title="Video"
        style="background-image:url({{ section.settings.ggHkyBE06Cj_poster_src }});--aspect:auto"
      >
        
    <img
      alt="Alt image" width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="{{ section.settings.ggHkyBE06Cj_poster_src }}" data-src="{{ section.settings.ggHkyBE06Cj_poster_src }}" data-srcset="{{ section.settings.ggHkyBE06Cj_poster_src }}"
      id="gp-video-gHkyBE06Cj"
      
      class="gp-invisible gp-w-full gp-h-full gp_lazyforbg gp_lazyload"
    />
        <button type="button" aria-label="Play" class="gp-absolute gp-left-1/2 gp-top-1/2 gp-w-[68px] -gp-translate-x-1/2 -gp-translate-y-1/2 gp-lite-youtube-embed-button gp-visible gp-opacity-100">
          <svg height="100%" version="1.1" viewBox="0 0 68 48" width="100%">
            <path
              d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
              fill="#f00"
            ></path>
            <path d="M 45,24 27,14 27,34" fill="#fff"></path>
          </svg>
        </button>
        
      </article>
    </gp-lite-youtube-embed>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-lite-youtube-embed-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
      </div>
    </div>
  
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-gLX4Js-ytj gp-child-item-gLX4Js-ytj g24W2UEz6M"
      style="--minw:calc(100% / 2 - 7px);--minw-tablet:calc(100% / 2 - 7px);--minw-mobile:calc(100% / 1.5 - 4.666666666666667px);--maxw:calc(100% / 2 - 7px);--maxw-tablet:calc(100% / 2 - 7px);--maxw-mobile:calc(100% / 1.5 - 4.666666666666667px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--b:solid;--bc:#121212;--bw:1px 1px 1px 1px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bs:none"
      data-index="2"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
    <div
       data-id="gHp0lj99Qz" class="gHp0lj99Qz !gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--mb-mobile:14px;--aspect:auto">
      
    <gp-lite-youtube-embed gp-data='{"lazy":true,"hasThumbnail":true,"style":{"--aspect":"auto"},"title":"Video","iframeSrc":"https://www.youtube-nocookie.com/embed/cyzh48XRS4M?autoplay=true&state=1&controls=1","translatedVideoUrl":"{{ section.settings.ggHp0lj99Qz_youtubeUrl }}","autoplay":false}'>
      <article
        aria-hidden
        class="gp-relative gp-bg-cover gp-bg-center gp-lite-youtube-embed-article gp_lazybg"
        data-title="Video"
        style="background-image:url({{ section.settings.ggHp0lj99Qz_poster_src }});--aspect:auto"
      >
        
    <img
      alt="Alt image" width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="{{ section.settings.ggHp0lj99Qz_poster_src }}" data-src="{{ section.settings.ggHp0lj99Qz_poster_src }}" data-srcset="{{ section.settings.ggHp0lj99Qz_poster_src }}"
      id="gp-video-gHp0lj99Qz"
      
      class="gp-invisible gp-w-full gp-h-full gp_lazyforbg gp_lazyload"
    />
        <button type="button" aria-label="Play" class="gp-absolute gp-left-1/2 gp-top-1/2 gp-w-[68px] -gp-translate-x-1/2 -gp-translate-y-1/2 gp-lite-youtube-embed-button gp-visible gp-opacity-100">
          <svg height="100%" version="1.1" viewBox="0 0 68 48" width="100%">
            <path
              d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
              fill="#f00"
            ></path>
            <path d="M 45,24 27,14 27,34" fill="#fff"></path>
          </svg>
        </button>
        
      </article>
    </gp-lite-youtube-embed>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-lite-youtube-embed-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
      </div>
    </div>
  
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-gLX4Js-ytj gp-child-item-gLX4Js-ytj gQOdvBiN92"
      style="--minw:calc(100% / 2 - 7px);--minw-tablet:calc(100% / 2 - 7px);--minw-mobile:calc(100% / 1.5 - 4.666666666666667px);--maxw:calc(100% / 2 - 7px);--maxw-tablet:calc(100% / 2 - 7px);--maxw-mobile:calc(100% / 1.5 - 4.666666666666667px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--b:solid;--bc:#121212;--bw:1px 1px 1px 1px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bs:none"
      data-index="3"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
    <div
       data-id="gQp247lBq8" class="gQp247lBq8 !gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--mb-mobile:14px;--aspect:auto">
      
    <gp-lite-youtube-embed gp-data='{"lazy":true,"hasThumbnail":true,"style":{"--aspect":"auto"},"title":"Video","iframeSrc":"https://www.youtube-nocookie.com/embed/cyzh48XRS4M?autoplay=true&state=1&controls=1","translatedVideoUrl":"{{ section.settings.ggQp247lBq8_youtubeUrl }}","autoplay":false}'>
      <article
        aria-hidden
        class="gp-relative gp-bg-cover gp-bg-center gp-lite-youtube-embed-article gp_lazybg"
        data-title="Video"
        style="background-image:url({{ section.settings.ggQp247lBq8_poster_src }});--aspect:auto"
      >
        
    <img
      alt="Alt image" width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="{{ section.settings.ggQp247lBq8_poster_src }}" data-src="{{ section.settings.ggQp247lBq8_poster_src }}" data-srcset="{{ section.settings.ggQp247lBq8_poster_src }}"
      id="gp-video-gQp247lBq8"
      
      class="gp-invisible gp-w-full gp-h-full gp_lazyforbg gp_lazyload"
    />
        <button type="button" aria-label="Play" class="gp-absolute gp-left-1/2 gp-top-1/2 gp-w-[68px] -gp-translate-x-1/2 -gp-translate-y-1/2 gp-lite-youtube-embed-button gp-visible gp-opacity-100">
          <svg height="100%" version="1.1" viewBox="0 0 68 48" width="100%">
            <path
              d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
              fill="#f00"
            ></path>
            <path d="M 45,24 27,14 27,34" fill="#fff"></path>
          </svg>
        </button>
        
      </article>
    </gp-lite-youtube-embed>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-lite-youtube-embed-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
      </div>
    </div>
  
          </div>
          
    <button
      type="button"
      aria-label='Carousel Next Arrow'
      class="gp-z-1 gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0 gp-carousel-arrow-gLX4Js-ytj gLX4Js-ytj gp-carousel-action-next gem-slider-next gp-cursor-pointer gp-text-gray-500 !gp-hidden tablet:!gp-hidden mobile:!gp-hidden"
      style="--bg:transparent;--d:none;--d-tablet:none;--d-mobile:none;--right:3px;--left:initial;--bottom:initial;--right-tablet:3px;--left-tablet:initial;--bottom-tablet:initial;--right-mobile:3px;--left-mobile:initial;--bottom-mobile:initial;--w:32px;--h:32px"
    >
      <style type="text/css">
      .gp-carousel-arrow-gLX4Js-ytj {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gLX4Js-ytj::before {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        pointer-events: none;
        z-index: 10;
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
      @media only screen and (max-width: 1024px) and (min-width: 768px) {
        .gp-carousel-arrow-gLX4Js-ytj {
          border-radius: var(--g-radius-small);
        }
        .gp-carousel-arrow-gLX4Js-ytj::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          border-radius: var(--g-radius-small);
        }
      }
      @media only screen and (max-width: 768px) {
        .gp-carousel-arrow-gLX4Js-ytj {
          border-radius: var(--g-radius-small);
        }
        .gp-carousel-arrow-gLX4Js-ytj::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          border-radius: var(--g-radius-small);
        }
      }
    </style>
      
    <div
      class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-0 tablet:gp-rotate-0 mobile:gp-rotate-0"
      style="--c:#000000;--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px"
    >
        <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M7.62204 5.13313C7.78476 4.95562 8.04858 4.95562 8.21129 5.13313L12.378 9.67859C12.5407 9.8561 12.5407 10.1439 12.378 10.3214L8.21129 14.8669C8.04858 15.0444 7.78476 15.0444 7.62204 14.8669C7.45932 14.6894 7.45932 14.4016 7.62204 14.224L11.4941 10L7.62204 5.77596C7.45932 5.59845 7.45932 5.31064 7.62204 5.13313Z"/>
              </svg>
              
    </div>
  
    </button>
  
        </div>
        
    
        <div class="gp-carousel-dot-container gp-carousel-dot-container-gLX4Js-ytj gp-z-2 gp-flex gp-flex-1 gp-items-center gp-justify-center gp-gap-2 gp-text-center gp-absolute gp-flex-row gp-left-0 gp-right-0 tablet:gp-absolute tablet:gp-flex-row tablet:gp-left-0 tablet:gp-right-0 mobile:gp-absolute mobile:gp-flex-row mobile:gp-left-0 mobile:gp-right-0" style="--bottom:16px;--bottom-tablet:16px;--bottom-mobile:16px;--d:none;--d-tablet:none;--d-mobile:none">
          <!-- item render by js -->
        </div>
      
  
      </div>
    </gp-carousel>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-carousel-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div><div
      data-same-height-display-contents
      style="--jc:center;--o-mobile:0"
      class="gbSbJqNuTc gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g7A3xktzpT"}' data-id="g7A3xktzpT" id="g7A3xktzpT" data-same-height-subgrid-container class="g7A3xktzpT gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:16px;--pt:32px;--pr:15px;--mb-mobile:14px;--pl-mobile:15px;--pr-mobile:15px;--pr-tablet:15px;--cg:32px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gDMmW7G7zh gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gdi2hP8_IM"
        class="gdi2hP8_IM"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:8px;--mb-mobile:7px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#242424;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.ggdi2hP8_IM_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g8sO07Afz1"
        class="g8sO07Afz1"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--size:40px;--size-tablet:40px;--size-mobile:35px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#242424;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.gg8sO07Afz1_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ga47LZW3hd"
        class="ga47LZW3hd"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:48px;--mb-mobile:42px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.gga47LZW3hd_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"link":"","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--mb-mobile:14px;--ta:left" >
        <style>[data-id="gUgq0T1h19"].gp-button-base::before, [data-id="gUgq0T1h19-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
  
    }
  
      
  [data-id="gUgq0T1h19"]:hover::before, [data-id="gUgq0T1h19-interaction"]:hover::before {
    
    
  }</style>
        
        <button
          data-id="gUgq0T1h19" dataId="gUgq0T1h19" data-state="idle" aria-label="LEARN MORE"
          
          type="button"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--shadow:none;--hvr-bg:rgba(133, 207, 163, 0);--bg:rgba(81, 187, 123, 0);--c:#242424;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal"
          class="gUgq0T1h19 gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex gp-flex-row-reverse">
          
    <span
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;word-break:break-word;--ml:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      class="gp-button-icon gp-z-1 gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
    >
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="493334321628184925">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M221.66,133.66l-72,72a8,8,0,0,1-11.32-11.32L196.69,136H40a8,8,0,0,1,0-16H196.69L138.34,61.66a8,8,0,0,1,11.32-11.32l72,72A8,8,0,0,1,221.66,133.66Z" /></svg>
    </span>
  
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggUgq0T1h19_label }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-623787935036080670 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ua2b8g-d3/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=623787729246749214&sectionId=623787935036080670)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg11jQfyC0Z_youtubeUrl","label":"gg11jQfyC0Z_youtubeUrl","default":"https://www.youtube.com/watch?v=cyzh48XRS4M"},{"type":"html","id":"gg11jQfyC0Z_vimeoUrl","label":"gg11jQfyC0Z_vimeoUrl","default":"https://vimeo.com/347119375"},{"type":"html","id":"gg11jQfyC0Z_html5Url","label":"gg11jQfyC0Z_html5Url","default":"https://cdn.shopify.com/videos/c/o/v/31cbd8d73b114e62a9df534684c49c07.mp4"},{"type":"html","id":"gg11jQfyC0Z_poster_src","label":"gg11jQfyC0Z_poster_src","default":"https://cdn.shopify.com/s/files/1/2005/9307/files/432750572815254551-420837df-843a-4524-9150-8d301944bb55.png"},{"type":"html","id":"ggHkyBE06Cj_youtubeUrl","label":"ggHkyBE06Cj_youtubeUrl","default":"https://www.youtube.com/watch?v=cyzh48XRS4M"},{"type":"html","id":"ggHkyBE06Cj_vimeoUrl","label":"ggHkyBE06Cj_vimeoUrl","default":"https://vimeo.com/347119375"},{"type":"html","id":"ggHkyBE06Cj_html5Url","label":"ggHkyBE06Cj_html5Url","default":"https://cdn.shopify.com/videos/c/o/v/8432697ab1a3415c977a819aa651739e.mp4"},{"type":"html","id":"ggHkyBE06Cj_poster_src","label":"ggHkyBE06Cj_poster_src","default":"https://cdn.shopify.com/s/files/1/2005/9307/files/432750572815254551-cf4b4844-27d5-4fe3-bd8c-e9a34a93f94a.png"},{"type":"html","id":"ggHp0lj99Qz_youtubeUrl","label":"ggHp0lj99Qz_youtubeUrl","default":"https://www.youtube.com/watch?v=cyzh48XRS4M"},{"type":"html","id":"ggHp0lj99Qz_vimeoUrl","label":"ggHp0lj99Qz_vimeoUrl","default":"https://vimeo.com/347119375"},{"type":"html","id":"ggHp0lj99Qz_html5Url","label":"ggHp0lj99Qz_html5Url","default":"https://cdn.shopify.com/videos/c/o/v/31cbd8d73b114e62a9df534684c49c07.mp4"},{"type":"html","id":"ggHp0lj99Qz_poster_src","label":"ggHp0lj99Qz_poster_src","default":"https://cdn.shopify.com/s/files/1/2005/9307/files/432750572815254551-420837df-843a-4524-9150-8d301944bb55.png"},{"type":"html","id":"ggQp247lBq8_youtubeUrl","label":"ggQp247lBq8_youtubeUrl","default":"https://www.youtube.com/watch?v=cyzh48XRS4M"},{"type":"html","id":"ggQp247lBq8_vimeoUrl","label":"ggQp247lBq8_vimeoUrl","default":"https://vimeo.com/347119375"},{"type":"html","id":"ggQp247lBq8_html5Url","label":"ggQp247lBq8_html5Url","default":"https://cdn.shopify.com/videos/c/o/v/8432697ab1a3415c977a819aa651739e.mp4"},{"type":"html","id":"ggQp247lBq8_poster_src","label":"ggQp247lBq8_poster_src","default":"https://cdn.shopify.com/s/files/1/2005/9307/files/432750572815254551-cf4b4844-27d5-4fe3-bd8c-e9a34a93f94a.png"},{"type":"html","id":"ggdi2hP8_IM_text","label":"ggdi2hP8_IM_text","default":"<p>The standard Lorem</p>"},{"type":"html","id":"gg8sO07Afz1_text","label":"gg8sO07Afz1_text","default":"Lorem ipsum dolor sit amet consectetur"},{"type":"html","id":"gga47LZW3hd_text","label":"gga47LZW3hd_text","default":"<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness</p>"},{"type":"html","id":"ggUgq0T1h19_label","label":"ggUgq0T1h19_label","default":"LEARN MORE"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}