
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-623787908360307668.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-623787908360307668.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-623787908360307668.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-623787908360307668.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-623787908360307668.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-623787908360307668.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-623787908360307668.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-623787908360307668.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-623787908360307668.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-623787908360307668.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-623787908360307668.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-623787908360307668.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-623787908360307668.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-623787908360307668.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-623787908360307668.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-623787908360307668.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-623787908360307668.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-623787908360307668.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-623787908360307668.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-623787908360307668.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-623787908360307668.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-623787908360307668.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-623787908360307668.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-623787908360307668.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-623787908360307668.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-623787908360307668.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-623787908360307668.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-623787908360307668.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-623787908360307668.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-623787908360307668.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-623787908360307668.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-623787908360307668.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-623787908360307668.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-623787908360307668.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-623787908360307668.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-623787908360307668.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-623787908360307668.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-623787908360307668.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-623787908360307668.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-623787908360307668.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-623787908360307668.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-623787908360307668.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-623787908360307668.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-623787908360307668.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-623787908360307668.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-623787908360307668.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-623787908360307668.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-623787908360307668.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-623787908360307668.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-623787908360307668.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-623787908360307668.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-623787908360307668.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-623787908360307668.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-623787908360307668.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-623787908360307668.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-623787908360307668.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-623787908360307668.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-623787908360307668.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-623787908360307668.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-623787908360307668.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-623787908360307668.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-623787908360307668.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-623787908360307668.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-623787908360307668.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-623787908360307668.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-623787908360307668.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-623787908360307668.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-623787908360307668.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-623787908360307668 .gp-relative{position:relative}.gps-623787908360307668 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-623787908360307668 .gp-mb-0{margin-bottom:0}.gps-623787908360307668 .gp-inline-block{display:inline-block}.gps-623787908360307668 .gp-flex{display:flex}.gps-623787908360307668 .gp-grid{display:grid}.gps-623787908360307668 .gp-contents{display:contents}.gps-623787908360307668 .\!gp-hidden{display:none!important}.gps-623787908360307668 .gp-hidden{display:none}.gps-623787908360307668 .gp-h-auto{height:auto}.gps-623787908360307668 .gp-h-full{height:100%}.gps-623787908360307668 .gp-w-full{width:100%}.gps-623787908360307668 .gp-max-w-full{max-width:100%}.gps-623787908360307668 .gp-flex-none{flex:none}.gps-623787908360307668 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-623787908360307668 .gp-flex-col{flex-direction:column}.gps-623787908360307668 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-623787908360307668 .gp-duration-200{transition-duration:.2s}.gps-623787908360307668 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-623787908360307668 .tablet\:\!gp-hidden{display:none!important}.gps-623787908360307668 .tablet\:gp-hidden{display:none}.gps-623787908360307668 .tablet\:gp-h-auto{height:auto}.gps-623787908360307668 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-623787908360307668 .mobile\:\!gp-hidden{display:none!important}.gps-623787908360307668 .mobile\:gp-hidden{display:none}.gps-623787908360307668 .mobile\:gp-h-auto{height:auto}.gps-623787908360307668 .mobile\:gp-flex-none{flex:none}}.gps-623787908360307668 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gGG26rgVWq"}' data-id="gGG26rgVWq" id="gGG26rgVWq" data-same-height-subgrid-container class="gGG26rgVWq gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:80px;--pb:64px;--pt-mobile:28px;--pb-mobile:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gS4-XgIiUW gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"guI-JfNRAf"}' data-id="guI-JfNRAf" id="guI-JfNRAf" data-same-height-subgrid-container class="guI-JfNRAf gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:32px;--pl:15px;--pr:15px;--mb-mobile:7px;--pl-mobile:15px;--pr-mobile:15px;--cg:30px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:1130px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g46bvru8a3 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gdAl_SuEia"
        class="gdAl_SuEia"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--mb-mobile:14px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--size:40px;--size-tablet:40px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.ggdAl_SuEia_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gCeGcmg4jW gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gUIALlGYYO"
        class="gUIALlGYYO"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.ggUIALlGYYO_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    <div
      role="presentation"
      data-id="goNrJj1Ufl"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--mb-mobile:21px;--ta:center"
      class="gp-group/image gp-relative force-publish-1781680207453 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto goNrJj1Ufl"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggoNrJj1Ufl_srcSet_mobile_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYzIiBoZWlnaHQ9IjM1NyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTYzLTM1NyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTYzIiBoZWlnaHQ9IjM1NyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTYzIiBoZWlnaHQ9IjM1NyIgZmlsbD0idXJsKCNnLTU2My0zNTcpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01NjMiIHRvPSI1NjMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggoNrJj1Ufl_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMyMCIgaGVpZ2h0PSI1NjUiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEzMjAtNTY1Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMzIwIiBoZWlnaHQ9IjU2NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTMyMCIgaGVpZ2h0PSI1NjUiIGZpbGw9InVybCgjZy0xMzIwLTU2NSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEzMjAiIHRvPSIxMzIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="{{ section.settings.ggoNrJj1Ufl_srcSet_desktop_src }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMyMCIgaGVpZ2h0PSI1NjUiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEzMjAtNTY1Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMzIwIiBoZWlnaHQ9IjU2NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTMyMCIgaGVpZ2h0PSI1NjUiIGZpbGw9InVybCgjZy0xMzIwLTU2NSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEzMjAiIHRvPSIxMzIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ section.settings.ggoNrJj1Ufl_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:1320px;--w-tablet:1320px;--w-mobile:1320px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gBo4NQCAtC"}' data-id="gBo4NQCAtC" id="gBo4NQCAtC" data-same-height-subgrid-container class="gBo4NQCAtC gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:48px;--pl:15px;--pr:15px;--mb-mobile:14px;--pl-mobile:15px;--pr-mobile:15px;--cg:30px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1130px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gaO12QbS0K gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g_sfi-oOun"
        class="g_sfi-oOun"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:14px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.gg_sfi-oOun_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-623787908360307668 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ua2b8g-d3/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=623787729246749214&sectionId=623787908360307668)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggdAl_SuEia_text","label":"ggdAl_SuEia_text","default":"Lorem ipsum dolor sit amet, consectetur&nbsp;"},{"type":"html","id":"ggUIALlGYYO_text","label":"ggUIALlGYYO_text","default":"<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>"},{"type":"html","id":"ggoNrJj1Ufl_srcSet_desktop_src","label":"ggoNrJj1Ufl_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/2005/9307/files/432750572815254551-4b8c2391-5a4b-498c-8daa-758ecc9c30d4.png"},{"type":"html","id":"ggoNrJj1Ufl_srcSet_mobile_src","label":"ggoNrJj1Ufl_srcSet_mobile_src","default":"https://cdn.shopify.com/s/files/1/2005/9307/files/432750572815254551-d9db39f0-76af-4f26-b36b-3d7487f4cc61.png"},{"type":"html","id":"gg_sfi-oOun_text","label":"gg_sfi-oOun_text","default":"<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}